@section scripts {
    <script>
        $(function () {

            let searchParams = new URLSearchParams(window.location.search);

            if (searchParams.has('Id')) {
                let param = searchParams.get('Id');

                var url = "/api/Jewelries/" + param;

                var currJewelry;

                $.getJSON(url, function (data) {
                    currJewelry = data;

                    window.price = currJewelry.price;
                    window.id = currJewelry.id;
                    
                    $("#currJewelryName").text(currJewelry.name);
                    $("#currJewelryImg").attr("src", currJewelry.imagePath);
                    $("#currJewelryDescription").text(currJewelry.description);
                    $("#currJewelryCart").text(currJewelry.cart + "K");
                    $("#currJewelryPrice").text(currJewelry.price + "$");
                    $("#currJewelryCatagory").text(currJewelry.category);
                    $("#currJewelryAmount").attr("max", currJewelry.amount);

                    var setJewelrysList = [];

                    $.getJSON("/api/Jewelries/Set/" + currJewelry.setId, function (data) {
                        setJewelrysList = data;

                        setJewelrysList.forEach(function (item) {
                            if (item.id != currJewelry.id) {
                                appendCatalogItem(item);
                            }
                        });
                    });
                });
            }
            else {
                window.location.href = "/Catalog"
            }
        });


        function appendCatalogItem(item) {
            var newitem_elem = $("#catalog_item").clone();
            newitem_elem.attr("id", item.id);
            newitem_elem.find("[approle=jewelryId]").val(item.id);
            newitem_elem.find("[approle=img]").attr("src", item.imagePath);
            newitem_elem.find("[approle=price]").text(item.price + " $");
            newitem_elem.find("[approle=name]").text(item.name);
            newitem_elem.appendTo("#catalog_items");
        };

        function Jewelry(jewelryId) {
            window.location.href = "/Jewelry?Id=" + jewelryId;
        }

        function setJewelryPrice() {

            var amount = $("#currJewelryAmount").val();

            $("#currJewelryPrice").text(window.price * amount + "$");
        }

        function Purchase() {
            var conf = confirm("Are you sure you want to buy " + $('#currJewelryAmount').val() + " amount of jewelry " + $('#currJewelryName').text() + " on " + $('#currJewelryPrice').text() + "?");

            if (conf) {

                var dataToServer = { 'amount': $("#currJewelryAmount").val(), 'jewelryId': window.id, 'price': window.price, 'jewelryName': $("#currJewelryName").text() }

                $.ajax({
                    url: "/Api/Purchase",
                    type: 'PUT',
                    dataType: 'string',
                    data: JSON.stringify(dataToServer),
                    contentType: 'application/json'
                }).done(function () {
                    alert("Purchase made successfully !!");
                    })
                    .fail(function () {
                        alert("Error on making purchase");
                    })
                    .always(function () {
                        window.location.href = "/Catalog";
                    });;
            }
        };

    </script>
}

@section style {
    <style>
        .maintiles .tile.is-child {
            background-size: cover;
            background-position: bottom center;
        }

        .card_border {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .moreInCategory {
            margin-top: 15px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom:20px;
            background-color: #eee;
            border-radius: 10px;
        }

    </style>
}


    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div>
                    <h4 id="currJewelryName"> </h4>
                    <img id="currJewelryImg" style="height: auto; width:100%;" />
                </div>
            </div>
            <div class="col-md-6">


                <table class="table table-borderless" style="margin-top:30px;">
                    
                    <tbody>
                        <tr>
                            <td style="width: 25%;">Category:</td>
                            <td style="width: 75%;" id="currJewelryCatagory"></td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td id="currJewelryDescription"></td>
                        </tr>
                        <tr>
                            <td>Gold Type:</td>
                            <td id="currJewelryCart"></td>
                        </tr>
                        <tr>
                            <td>Price:</td>
                            <td id="currJewelryPrice"></td>
                        </tr>
                        <tr>
                            <td>Amount:</td>
                            <td><input value="1" onchange="setJewelryPrice()" id="currJewelryAmount" type="number" min="1" max="*jsvariable*" /></td>
                        </tr>
                    </tbody>
                </table>

                <button onclick="Purchase()" style="width: 30%;" type="button" class="btn btn-outline-secondary">Buy</button>
            </div>
        </div>

        <div class="container moreInCategory">
            <div class="row">
                <h4>More in set:</h4>
            </div>
            <div class=" row" id="catalog_items">
            </div>
        </div>

    </div>



@section hidden {
    <div class="card_border col-sm-6 col-md-3" id="catalog_item">
        <a onclick="Jewelry(this.value)" approle="jewelryId">
            <div class="card ">
                <img class="card-img-top" style="width :100%;" approle="img">
                <div class="card-body" style="padding: 5px;">
                    <h6 style="padding: 0" approle="name"></h6>
                    <div approle="price"></div>
                </div>
            </div>
        </a>
    </div>
}
