@using colmanInternetStav1._1.Controllers;

@section scripts {
    <script>
        $(function () {
            var hafira = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.";

            var jewelersList = [];
            jewelersList.push({ id: 0, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 1, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });
            jewelersList.push({ id: 2, name: "New Pandora 100% silver - heart shape", description: "bla blkjsdflgj dflgjk ladkjghdlg", price: 102.56, img: "https://bulma.io/images/placeholders/128x128.png" });

            jewelersList.forEach(function (item) {
                appendCatalogItem(item);
            });


        });

        function appendCatalogItem(item) {
            var newitem_elem = $("#catalog_item").clone();
            newitem_elem.removeAttr('id');
            newitem_elem.find("[approle=img]").attr("src", item.img);
            newitem_elem.find("[approle=price]").text(item.price + " $");
            newitem_elem.find("[approle=name]").text(item.name);
            newitem_elem.appendTo("#catalog_items");
        };

        var slider = document.getElementById("myRange");
        var output = document.getElementById("prise");

        slider.oninput = function () {
            if (this.value == 10000) {
                output.innerHTML = "Up to 10000$ +";
            }
            else {
                output.innerHTML = "Up to " + this.value + "$";
            }

        }

    </script>
}

@section style {
    <style>
        .maintiles .tile.is-child {
            background-size: cover;
            background-position: bottom center;
        }

        .card_border {
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .filter_form {
            margin-top: 15px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 50px;
            padding-bottom: 20px;
            border-radius: 10px;
        }

        .filter_titel {
            margin-top: 10px;
        }

        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                background: #4CAF50;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                background: #4CAF50;
                cursor: pointer;
            }

        .catalogList {
            margin-top: 15px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            background-color: #eee;
            border-radius: 10px;
        }
    </style>
}

<div class="container ">
    <div class="row ">

        <div class="col-md-3 filter_form">
            <h5>Filter</h5>
            <div class="slidecontainer">
                <div>Prise: <span id="prise"></span></div>
                <input type="range" min="400" max="10000" value="5000" class="slider" id="myRange">

                <div class="filter_titel">Category:</div>
                <select class="custom-select" id="categoryForm">
                    <option selected>Choose category</option>
                    @{
                        Dictionary<int, string> categoriesList = CategoriesController.GetCategories();
                        foreach (KeyValuePair<int, string> category in categoriesList)
                        {
                            <option id="@category.Key" value="@category.Value">@category.Value</option>
                        }
                    }
                </select>

                <div class="filter_titel">Gold type:</div>
                <select class="custom-select" id="goldTypeForm">
                    <option selected>Choose gold type</option>
                    <option value="14">14k</option>
                    <option value="18">18k</option>
                    <option value="21">21k</option>

                </select>

                <div class="form-check form-check-inline filter_titel">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">With diamonds</label>
                </div>
            </div>
        </div>

        <div class="col-md-9  catalogList">
            <h3>Search results</h3>
            <div class="content row" id="catalog_items"></div>

        </div>
    </div>
</div>




@section hidden {

    <div class="card_border col-sm-6 col-md-4" id="catalog_item">
        <a href="/jewelry">
            <div class="card ">
                <img class="card-img-top" style="width :100%;" approle="img">
                <div class="card-body">
                    <h6 approle="name"></h6>
                    <p approle="price"></p>
                </div>
            </div>
        </a>
    </div>

}
