@{
    ViewData["Title"] = "Admin panel";
}

@section scripts {
    <script src="~/lib/d3.min.js"></script>
    <script src="~/js/graph.js"></script>
    <script>
        function updateData() {
            /*$.ajax({
                url: "admin_api",
                success: function (response) {
                }
            });*/
            var gdat = [50, 80, 60, 70, 85, 65, 55, 75];
            var gdataxis = ["NOV 17", "DEV 17", "JAN 18", "FEB 18", "NOV 17", "DEV 17", "JAN 18", "FEB 18"];
            liorLineGraphUpdate(gdat, gdataxis, "graph1");
            liorColumnGraphUpdate(gdat, gdataxis, "graph2");
        }

        $(function () {
            liorLineGraphCreate("graph1");
            liorColumnGraphCreate("graph2");
            setInterval(updateData(), 20000);
            updateData();
        });
    </script>
}

@section style {
    <style>
        .maintiles .is-child {
            background: #f9f9f9;
            padding: 20px;
        }
    </style>
}

@{
    @using colmanInternetStav1._1.Models;
    var userdetails = Account.getDetails(User);
}
<div class="maintiles tile is-ancestor is-vertical">
    <div class="tile">
        <div class="tile is-parent is-vertical is-2">
            <article class="tile is-child">
                <p class="subtitle">@userdetails["firstname"], <b>welcome</b> to Admin panel</p>
            </article>
            <article class="tile is-child">
                <p class="subtitle">New users today</p>
                <p class="title">12</p>
            </article>
        </div>
        <div class="tile is-parent is-6">
            <article class="tile is-child">
                <p class="title">Monthly profit</p>
                <p class="subtitle">History of last monthly profits</p>
                <svg id="graph1"></svg>
            </article>
        </div>
        <div class="tile is-4 is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <p class="subtitle">Daily profit</p>
                        <p class="title">123456$</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <p class="subtitle">Monthly profit</p>
                        <p class="subtitle">123456$</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                    <p class="subtitle">Monthly profit</p>
                    <p class="title">12345678$</p>
                </article>
            </div>
        </div>
    </div>
    <div class="tile">
        <div class="tile is-parent is-6">
            <article class="tile is-child">
                <p class="title">Rule the world</p>
                <p class="subtitle">Number of yearly purchases per country</p>
                <svg id="graph2"></svg>
            </article>
        </div>
        <div class="tile is-6">
            <div class="tile is-parent is-8">
                <article class="tile is-child">
                    last deals
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child">
                    stat 5
                </article>
                <article class="tile is-child">
                    stat 6
                </article>
            </div>
        </div>
    </div>
</div>