@{
    ViewData["Title"] = "Admin panel";
}

@section scripts {
    <script src="~/lib/d3.min.js"></script>
    <script src="~/js/graph.js"></script>
    <script>
        function updateData(numOfMonthes) {
            listDetails = {};

            var varDate = new Date();

            var month = varDate.getMonth() + 1;

            var year = varDate.getFullYear();

            $.getJSON("/api/Purchase/" + month + "/" + year + "/" + numOfMonthes, function (data) {
                listDetails = data;

                liorLineGraphUpdate(Object.values(listDetails), Object.keys(listDetails), "graph1");
            });

            $.getJSON("/api/Sets/count", function (data) {
                listDetails = data;

                liorColumnGraphUpdate(Object.values(listDetails), Object.keys(listDetails), "graph2");
            });

            $.getJSON("/api/admin", function (data) {
                var lastdeals = JSON.parse(data["10_last_purchases"]);
                for (var i = 0; i < lastdeals.length; i++) {
                    appendHistoryItem(lastdeals[i]);
                }
            });
        }

        function appendHistoryItem(item) {
            var newitem_elem = $("#history_new_item").clone();
            //newitem_elem.attr("id","h_"+id);
            newitem_elem.removeAttr('id');
            newitem_elem.find("[approle=img]").attr("src", item.img);
            newitem_elem.find("[approle=money]").text(item.money + " $");
            newitem_elem.find("[approle=jewrley]").text(item.jewrley);
            newitem_elem.find("[approle=client]").text(item.client);
            newitem_elem.appendTo("#history>tbody");
        }

        $(function () {
            liorLineGraphCreate("graph1");
            liorColumnGraphCreate("graph2");
            updateData(8);
        });

    </script>
}

@section style {
    <style>
        .maintiles .is-child {
            background: #f9f9f9;
            padding: 20px;
        }

        #history .money {
            color: #5cab00 !important;
        }
    </style>
}

@{
    @using colmanInternetStav1._1.Models;
    @using colmanInternetStav1._1.Controllers;
    var userdetails = Account.getDetails(User);
    PurchasesController purchases = new PurchasesController(new ColmanInternetiotContext());
}
<div class="maintiles tile is-ancestor is-vertical">
    <div class="tile">
        <div class="tile is-parent is-vertical is-2">
            <article class="tile is-child">
                <p class="subtitle">@userdetails["firstname"], <b>welcome</b> to Admin panel</p>
            </article>
            <article class="tile is-child">
                <p class="subtitle">New users this month</p>
                <p class="title">@UsersController.CreatedThisMonthCount()</p>
            </article>
        </div>
        <div class="tile is-parent is-6">
            <article class="tile is-child">
                <p class="title">Monthly profit</p>
                <p class="subtitle">History of last monthly profits</p>
                <svg id="graph1"></svg>
            </article>
        </div>
        <div class="tile is-4 is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <p class="subtitle">Daily profit</p>
                        <p class="title">@purchases.GetDailyProfit()$</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                    <p class="subtitle">Monthly profit</p>
                    <p class="title">@purchases.GetMonthlyProfit(DateTime.Now.Month, DateTime.Now.Year)$</p>
                </article>
            </div>
        </div>
    </div>
    <div class="tile">
        <div class="tile is-parent is-6">
            <article class="tile is-child">
                <p class="title">Best set !!</p>
                <p class="subtitle">Number jewelries per set</p>
                <svg id="graph2"></svg>
            </article>
        </div>
        <div class="tile is-6">
            <div class="tile is-parent">
                <article class="tile is-child" style="overflow: scroll;
    height: 500px;
    display: grid;">
                    <p class="subtitle">Last 10 deals</p>
                    <table id="history" class="table is-fullwidth">
                        <tr>
                            <th></th>
                            <th>Client</th>
                            <th>Jewrley</th>
                            <th>Payment</th>
                        </tr>
                    </table>
                </article>
            </div>
        </div>
    </div>
</div>

@section hidden {
    <table><tr id="history_new_item">
        <td><p class="image is-64x64"><img approle="img"></p></td>
        <td approle="client"></td>
        <td approle="jewrley"></td>
        <td class="money" approle="money"></td>
    </tr></table>
}