@{
    ViewData["Title"] = "Admin panel";
}

@section scripts {
    <script src="~/lib/d3.min.js"></script>
    <script src="~/js/graph.js"></script>
    <script>
        function updateData(numOfMonthes) {
            listDetails = {};

            var varDate = new Date();

            var month = varDate.getMonth() + 1;

            var year = varDate.getFullYear();

            $.getJSON("/api/Purchase/" + month + "/" + year + "/" + numOfMonthes, function (data) {
                listDetails = data;

                liorLineGraphUpdate(Object.values(listDetails), Object.keys(listDetails), "graph1");
            });

            $.getJSON("/api/Sets/count", function (data) {
                listDetails = data;
                
                liorColumnGraphUpdate(Object.values(listDetails), Object.keys(listDetails), "graph2");
            });
        }

        $(function () {
            liorLineGraphCreate("graph1");
            liorColumnGraphCreate("graph2");
            setInterval(updateData(), 20000);
            updateData(8);
        });

    </script>
}

@section style {
    <style>
        .maintiles .is-child {
            background: #f9f9f9;
            padding: 20px;
        }
    </style>
}

@{
    @using colmanInternetStav1._1.Models;
    @using colmanInternetStav1._1.Controllers;
    var userdetails = Account.getDetails(User);
    PurchasesController purchases = new PurchasesController(new ColmanInternetiotContext());
}
<div class="maintiles tile is-ancestor is-vertical">
    <div class="tile">
        <div class="tile is-parent is-vertical is-2">
            <article class="tile is-child">
                <p class="subtitle">@userdetails["firstname"], <b>welcome</b> to Admin panel</p>
            </article>
            <article class="tile is-child">
                <p class="subtitle">New users today</p>
                <p class="title">@UsersController.CreatedTodayCount()</p>
            </article>
        </div>
        <div class="tile is-parent is-6">
            <article class="tile is-child">
                <p class="title">Monthly profit</p>
                <p class="subtitle">History of last monthly profits</p>
                <svg id="graph1"></svg>
            </article>
        </div>
        <div class="tile is-4 is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <p class="subtitle">Daily profit</p>
                        <p class="title">@purchases.GetDailyProfit()$</p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                    <p class="subtitle">Monthly profit</p>
                    <p class="title">@purchases.GetMonthlyProfit(DateTime.Now.Month, DateTime.Now.Year )$</p>
                </article>
            </div>
        </div>
    </div>
    <div class="tile">
        <div class="tile is-parent is-6">
            <article class="tile is-child">
                <p class="title">Best set !!</p>
                <p class="subtitle">Number jewelries per set</p>
                <svg id="graph2"></svg>
            </article>
        </div>
        <div class="tile is-6">
            <div class="tile is-parent is-8">
                <article class="tile is-child">
                    last deals
                </article>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child">
                    stat 5
                </article>
                <article class="tile is-child">
                    stat 6
                </article>
            </div>
        </div>
    </div>
</div>