@model colmanInternetStav1._1.Models.JewelrySet

@{
    ViewData["Title"] = "Delete";
}

<h3>האם הנך בטוח שאתה רוצה למחוק את הסט ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> |
            <a asp-action="Index">חזור לרשימת הסטים</a>
        </div>
    </form>
</div>
