@section scripts {
    <script>
        $(function () {
            for (var i = 1; i <= 5; i++) {
                $.ajax({
                    url: "hometiles_url/" + i,
                    success: function (response) {
                        $("#tile" + i + ">.title").innerHTML = response.title;
                        $("#tile" + i + ">.subtitle").innerHTML = response.subtitle;
                        $("#tile" + i).css("background-image", "url('" + response.img + "')");
                    }
                });
            }
        });
    </script>
}

@section style {
    <style>
        .maintiles .tile.is-child {
            min-height: 200px;
            background-size: cover;
            background-position: bottom center;
        }

        .maintiles .tile.is-child > * {
            z-index: 5;
            position: relative;
        }

        .maintiles .tile.is-child::after {
            content: '.';
            background: linear-gradient(#fff,#fff0);
            position: absolute;
            color: #fff;
            top: 0;
            left: 0;
            width: 100%;
            height: 40%;
            min-height: 120px;
            z-index: 4;
        }
    </style>
}

<div class="maintiles tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification" id="tile1">
                    <p class="title">1</p>
                    <p class="subtitle">top</p>
                </article>
                <article class="tile is-child notification" id="tile2">
                    <p class="title">2</p>
                    <p class="subtitle">some info</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification" id="tile3">
                    <p class="title">3</p>
                    <p class="subtitle">double size</p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification" id="tile4">
                <p class="title">4</p>
                <p class="subtitle">bottom one</p>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification" id="tile5">
            <div class="content">
                <p class="title">5</p>
                <p class="subtitle">triple size</p>
            </div>
        </article>
    </div>
</div>