@{
    ViewData["Title"] = "Home";
}

@section scripts {
    <script>
        this.intervalId = 0;

        $(function () {
            for (var i = 1; i <= 5; i++) {
                $.ajax({
                    url: "hometiles_url/" + i,
                    success: function (response) {
                        $("#tile" + i + ">.title").innerHTML = response.title;
                        $("#tile" + i + ">.subtitle").innerHTML = response.subtitle;
                        $("#tile" + i).css("background-image", "url('" + response.img + "')");
                    }
                });
            }

            
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            var radius = canvas.height / 2;
            ctx.translate(radius, radius);
            radius = radius * 0.90
            setInterval(drawClock, 1000);

            function drawClock() {
                drawFace(ctx, radius);
                drawNumbers(ctx, radius);
                drawTime(ctx, radius);
            }

            function drawFace(ctx, radius) {
                var grad;
                ctx.beginPath();
                ctx.arc(0, 0, radius, 0, 2 * Math.PI);
                ctx.fillStyle = 'white';
                ctx.fill();
                grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
                grad.addColorStop(0, '#333');
                grad.addColorStop(0.5, 'white');
                grad.addColorStop(1, '#333');
                ctx.strokeStyle = grad;
                ctx.lineWidth = radius * 0.1;
                ctx.stroke();
                ctx.beginPath();
                ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
                ctx.fillStyle = '#333';
                ctx.fill();
            }

            function drawNumbers(ctx, radius) {
                var ang;
                var num;
                ctx.font = radius * 0.15 + "px arial";
                ctx.textBaseline = "middle";
                ctx.textAlign = "center";
                for (num = 1; num < 13; num++) {
                    ang = num * Math.PI / 6;
                    ctx.rotate(ang);
                    ctx.translate(0, -radius * 0.85);
                    ctx.rotate(-ang);
                    ctx.fillText(num.toString(), 0, 0);
                    ctx.rotate(ang);
                    ctx.translate(0, radius * 0.85);
                    ctx.rotate(-ang);
                }
            }

            function drawTime(ctx, radius) {
                var now = new Date();
                var hour = now.getHours();
                var minute = now.getMinutes();
                var second = now.getSeconds();
                //hour
                hour = hour % 12;
                hour = (hour * Math.PI / 6) +
                    (minute * Math.PI / (6 * 60)) +
                    (second * Math.PI / (360 * 60));
                drawHand(ctx, hour, radius * 0.5, radius * 0.07);
                //minute
                minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
                drawHand(ctx, minute, radius * 0.8, radius * 0.07);
                // second
                second = (second * Math.PI / 30);
                drawHand(ctx, second, radius * 0.9, radius * 0.02);
            }

            function drawHand(ctx, pos, length, width) {
                ctx.beginPath();
                ctx.lineWidth = width;
                ctx.lineCap = "round";
                ctx.moveTo(0, 0);
                ctx.rotate(pos);
                ctx.lineTo(0, -length);
                ctx.stroke();
                ctx.rotate(-pos);
            }

            getSilverGold();

            this.intervalId = setInterval(getSilverGold, 10000);
        });

        $(window).bind('beforeunload',function() {
            clearInterval(this.intervalId);
        });

        function getSilverGold() {
            var silvergoldItem;

            $.getJSON("/api/silvergold", function (data) {
                silvergoldItem = data;

                $("#sgImg").attr("src", silvergoldItem.image);
                $("#sgName").text(silvergoldItem.name);
                $("#sgDescription").text("Description: " + silvergoldItem.description);
                $("#sgManufacturer").text("Manufacturer: " + silvergoldItem.manufacturer);
                $("#sgPrices").text("Price from " + silvergoldItem.prices.from + "$ to " + silvergoldItem.prices.to + "$");

            });
        }
    </script>
}

@section style {
    <style>
        .maintiles .tile.is-child {
            min-height: 200px;
            background-size: cover;
            background-position: bottom center;
        }

            .maintiles .tile.is-child > * {
                z-index: 5;
                position: relative;
            }

            .maintiles .tile.is-child::after {
                content: '.';
                background: linear-gradient(#fff,#fff0);
                position: absolute;
                color: #fff;
                top: 0;
                left: 0;
                width: 100%;
                height: 40%;
                min-height: 120px;
                z-index: 4;
            }
    </style>
}
    <div class="row">
        <div class="col-md-9">
            <h3>Welcome to ABA PICH Jewelry story</h3>
            <h6>
                We are the best in the world! <br>
                We maje the best jewelries! <br>
                We make best prices in the word! <br>
                Welcome to ABA-PICH jewelry store! <br>
            </h6>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-10" style="background-color: ghostwhite; border-radius: 15px;">
                    <h6 style="margin-top: 10px;">Recomended in SilverGold Website:</h6>
                    <div class="row" style="margin-top: 15px;">

                        <div class="col-md-4">
                            <img id="sgImg" src="" />
                        </div>
                        <div class="col-md-8">
                            <h6 id="sgName"></h6>

                            <table class="table table-borderless" style="margin-top:30px;">
                                <tbody>
                                    <tr>
                                        <td style="width: 25%;">Description:</td>
                                        <td style="width: 75%;">
                                            <div id="sgDescription" style=" max-height: 200px; overflow: auto;"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Manufacturer</td>
                                        <td id="sgManufacturer"></td>
                                    </tr>
                                    <tr>
                                        <td>Price:</td>
                                        <td id="sgPrices"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col-md-3">
            <canvas id="canvas" width="300" height="300"></canvas>
            <iframe width="300" height="150" src="https://www.youtube.com/embed/jgt-lkkG6mw" frameborder="0" allow="autoplay; encrypted-media"></iframe>

        </div>
    </div>