@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Location.js"></script>
<body>
    <input type="text" name="address" id="address" />
    <button onclick="getCoorDinateByAddress()" value="חפש">חפש</button>
    <div id="map-canvas" style="width:500px; height:500px"></div>
</body>
